/*通用*/
.hide{
	display: none;
}
/*头部*/
/*信息栏*/
.headerinfo{
	width: 100%;
	min-width: 1000px;
	background-color: #343434;
}
.h_infobar{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	font-size: 14px;
	overflow: hidden;
	vertical-align: middle;
}
.hi_date{
	float: left;
}
.hid_date{
	margin-left: 10px;
}
.hi_log{
	float: right;
}
.hil_input{
	height: 20px;
	line-height: 20px;
	width: 100px;
	padding-left: 5px;
}

/*菜单栏*/
.headermenu{
	width: 100%;
	min-width: 1000px;
	background: #24609F url(/work-2-huaNanLiGong/images/index/texture.png) no-repeat 50% 50%;
}
.h_menu{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	overflow: hidden;
}
.hm_logo{
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	width: 60px;
	line-height: 80px;
}
.hm_title{
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 80px;
	margin: 0;
	vertical-align: middle;
	text-indent: 5px;
}
.hm_menu{
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	float: right;
}
.hmm_btn{
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.hnmb_icon{
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	color: #4293E9;
}
.hmm_btn.active .hnmb_icon{
	color: #D28632;
}
.hmm_btn:hover .hnmb_icon{
	color: #D28632;
}
.hnmb_title{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	display: inline-block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	color: #FFF;
	text-decoration: none;
}

/*主体*/
.main{
	width: 100%;
	min-width: 1000px;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}

/*导航条*/
.navbox{
	width: 100%;
	height: 30px;
	background-color: #104C8B;
}
.nav{
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.n_btn{
	float: left;
	list-style: none;
	height: 100%;
	vertical-align: middle;
}
.n_btn:hover,.n_btn.active{
	background-color: #003877;
}
.nb_link{
	/*display: inline-block;*/
	/*height: 26px;*/
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	border-right: 1px solid #001A59;
	border-left: 1px solid #427EBD;
}
.n_btn.first .nb_link{
	border-left: none;
}
.n_btn.last .nb_link{
	border-right: none;
}


/*背景图片*/
.m_backimg{
	display: block;
	height: 400px;
	width: 120%;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

/*脚部*/
.footer{
	height: 30px;
	width: 100%;
	min-width: 1000px;
	background-color: #E9E9ED;
	border-top: 2px solid #CDCDD1;
	text-align: center;
	line-height: 30px;
	color: #004F8D;
	font-size: 14px;
}

