html{
	height: 100%;
}
body{
	height: 100%;
}
.hide{
	display: none !important;
}
/*主体内容*/
.main{
	height: 100%;
	width: 100%;
	position: relative;
}
/*背景图片*/
.m_backimg{
	height: 300px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.m_search{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	border: 3px solid #297DD2;
	height: 50px;
	background-color: #D9EAF6;
	position: relative;
	top: 75px;

}
.ms_input{
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	width: 85%;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	vertical-align: top;
	background-color: #D9EAF6;
	margin-top: 10px;
}
.ms_input:focus{
	outline: none;
}
.ms_btn{
	height: 30px;
	line-height: 30px;
	width: 15%;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: #D9EAF6;
	margin-top: 10px;
	border-left: 1px solid #0E6BCC;
	margin-left: -1px;
	cursor: pointer;
}
.ms_btn:focus{
	outline: none;
}
.msb_icon{
	font-size: 25px;
	color: #0E6BCC;
}

/*按鈕組*/
.m_btnbox{
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 0;
	right: 0;
}
.m_btntable{
	display: table;
	height: 100%;
	/*width: 100%;*/
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.m_btn{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 0;
}
.mb_list{
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.mb_list.fstmnu{
	margin-left: 13%;
}
.mb_list.scdmnu{
	width: 150px;
	margin-left: 80px;
}
.mb_list.first{
	margin-left: 0;
}
.mb_list.disabled{
	cursor: auto;
}
.mbl_circle{
	color: #005394;
}
.mb_list.fstmnu .mbl_circle{
	font-size: 150px;
}
.mb_list.scdmnu .mbl_circle{
	font-size: 100px;
}
.mb_list:hover .mbl_circle{
	color: #3396CA;
}
.mb_list.disabled .mbl_circle{
	color: #CCC;
}
.mb_list.disabled:hover .mbl_circle{
	color: #CCC;
}
.mbl_icon{
	color: #FFF;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}
.mb_list.fstmnu .mbl_icon{
	font-size: 70px;
	top: 40px;
}
.mb_list.scdmnu .mbl_icon{
	font-size: 60px;
	top: 22px;
}
.mbl_title{
	font-weight: normal;
	color: #005394;
}
.mb_list.disabled .mbl_title{
	color: #CCC;
}
.mb_list:hover .mbl_title{
	color: #3396CA;
}
.mb_list.disabled:hover .mbl_title{
	color: #CCC;
}

/*font-awesome 个性化*/
.fa-university{
	margin-right: -5px;
	margin-top: -5px;
}